@import "../../styles/Variables.scss";

.nav_wrapper {
  z-index: 10;
  position: fixed;
  top: 0;

  ul.nav {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: [first] 600px [line2] auto [line3] 150px [end];
    color: $charcoal;
    width: 90vw;

    a {
      all: unset;
    }

    .nav_left {
      grid-column-start: first;
      grid-column-end: line2;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .nav_logo {
        font-size: 28px;
      }
    }
    .nav_right {
      grid-column-start: line3;
      grid-column-end: end;
      align-items: center;
      justify-content: space-between;

      display: flex;
      flex-direction: row;
    }

    .nav_item {
      text-transform: uppercase;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
