@import "../../styles/Variables.scss";

.nav_section_wrapper {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;

  .nav_section {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: $charcoal;
    .nav_section_item {
      position: relative;
      top: 0;
      margin: 0px;
      font-size: 18px;
      border-bottom: 1.5px $charcoal solid;
      padding-left: 5px;
      width: 15px;
      height: 25px;
      transition: all 0.5s;

      .nav_section_item_content_down {
        position: absolute;
        top: -60%;
        opacity: 0;
        transition: top 0.5s;
      }
      .nav_section_item_content_up {
        position: absolute;
        top: 100%;
        opacity: 0;
        transition: top 0.5s;
      }
    }

    .active {
      width: 30px;
      .nav_section_item_content_up {
        position: absolute;
        top: 60%;
        transition: all 0.5s;
        opacity: 1;
      }
      .nav_section_item_content_down {
        position: absolute;
        top: 60%;
        transition: all 0.5s;
        opacity: 1;
      }
    }
  }
}
